################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InnovezOne.GeneralResources/obj
/InnovezOne.Library/obj
/InnovezOne.Repository/obj
/.vs/InnovezOne.Library/v14
/InnovezOne.GeneralResources/bin
/InnovezOne.Library/bin
/InnovezOne.Repository/bin
/packages
*.nupkg
/InnovezOne.LibraryTestProject/obj/Debug
/InnovezOne.LibraryTestProject/Properties
/InnovezOne.LibraryTestProject/bin/Debug
